<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day 20</title>
    <style>
      .listing-container {
        display: flex;
        flex-wrap: wrap;
      }
      .student-card {
        width: calc(50% - 10px);
        height: 150px;
        background-color: aqua;
        margin: 5px;
        padding: 10px;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div id="container" class="listing-container"></div>
    <script>
      let data = [];
      function printData(data = []) {
        data.map((element, index) => console.log(element));
      }
      // WILL CREATE A STUDENT CARD AND RETURN THE CARD
      function createStudentCard(data = []) {
        let card = document.createElement("div");
        card.setAttribute("id", "card");
        card.setAttribute("class", "student-card");
        let studentName = document.createElement("h3");
        let courseName = document.createElement("h5");
        let joiningDate = document.createElement("p");
        studentName.innerText = data.name;
        courseName.innerText = data.courseId;
        joiningDate.innerText = data.createdAt;
        card.append(studentName, courseName, joiningDate);
        return card;
      }

      // WILL STORE ALL THE STUDENT CARDS AND RENDERS IN THE UI
      function renderStudentsCard(data = []) {
        // WILL HAVE LIST OF CREATED CARDS
        let cards = [];
        data.forEach((element) => {
          cards.push(createStudentCard(element));
        });
        const container = document.getElementById("container");
        container.append(...cards);
      }

      async function getData() {
        const studentDataResponse = await fetch(
          "https://63a3c5a7471b38b20615a032.mockapi.io/api/teacher/Studentapi"
        );
        data = await studentDataResponse.json();
        if (data.length > 0) {
          renderStudentsCard(data);
        }
      }
      getData();
    </script>
  </body>
</html>
